@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

html, body {
  overflow-x: hidden;
}

.mi-main-container {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 238, 0, 0.8)), to(rgba(255, 238, 0, 0.8))), url("../assets/images/banner.jpg");
  background-image: linear-gradient(90deg, rgba(255, 238, 0, 0.8), rgba(255, 238, 0, 0.8)), url("../assets/images/banner.jpg");
  height: 100vh;
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 78%, 70% 100%, 36% 83%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 78%, 70% 100%, 36% 83%, 0 100%, 0 0);
}

.mi-main-container .logo img {
  padding: 25px;
  width: 150px;
}

.mi-main-container .mi-main-nav {
  position: absolute;
  top: 20px;
  right: 0px;
}

@media (max-width: 790px) {
  .mi-main-container .mi-main-nav {
    display: none;
  }
}

.mi-main-container .mi-main-nav-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  padding-right: 60px;
}

.mi-main-container .mi-main-nav-list li {
  padding: 10px 50px;
}

.mi-main-container .mi-main-nav-list li a {
  text-decoration: none;
  color: #000;
}

.mi-main-container .mi-mob-nav {
  z-index: 3;
}

@media (min-width: 790px) {
  .mi-main-container .mi-mob-nav {
    display: none;
  }
}

.mi-main-container .mi-mob-nav .line-container {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 13;
}

.mi-main-container .mi-mob-nav .line-container .line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 0 0 5px 0px;
}

.mi-main-container .mi-mob-nav .line-container.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mi-main-container .mi-mob-nav .line-container.close .line {
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.mi-main-container .mi-mob-nav .line-container.close .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.mi-main-container .mi-mob-nav .line-container.close .line:nth-child(2) {
  opacity: 0;
}

.mi-main-container .mi-mob-nav .line-container.close .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}

.mi-main-container .mi-mob-nav .mi-main-mob-nav-list {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  opacity: 0.8;
  width: 100%;
  height: 0%;
  visibility: hidden;
  list-style: none;
  -webkit-transition: height ease-in 1s;
  transition: height ease-in 1s;
  -webkit-transition: height ease-in-out 1s;
  transition: height ease-in-out 1s;
  z-index: 10;
}

.mi-main-container .mi-mob-nav .mi-main-mob-nav-list.show {
  height: 100% !important;
  visibility: visible;
}

.mi-main-container .mi-mob-nav .mi-main-mob-nav-list li {
  padding-top: 15px;
}

.mi-main-container .mi-mob-nav .mi-main-mob-nav-list a {
  text-decoration: none;
  color: #fff;
}

.mi-main-body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

@media (max-width: 790px) {
  .mi-main-body {
    padding: 15px;
  }
}

@media (max-width: 790px) {
  .mi-main-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.mi-main-body h1 {
  padding-top: 25px;
  letter-spacing: 5px;
  line-height: 15px;
}

@media (max-width: 790px) {
  .mi-main-body h1 {
    letter-spacing: 1px;
    line-height: auto;
    margin-bottom: 55px;
    font-size: 1.2em;
    text-align: center;
  }
}

.mi-main-body .catchy {
  text-align: center;
}

.mi-main-body .form-container {
  background: #fff;
  padding: 25px 55px;
  border-radius: 5px;
}

@media (max-width: 790px) {
  .mi-main-body .form-container {
    padding: 25px 15px;
  }
}

.mi-main-body .form-container form {
  padding: 25px 0;
}

.mi-main-body .form-container .form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
  background: transparent;
  width: 100%;
  outline: transparent;
  margin: 15px 0 15px 0;
}

.mi-main-body .form-container button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 8px 15px;
  border-radius: 25px;
  border: none;
  background-color: #2C559D;
  color: #fff;
}

.mi-services-container {
  /* First Row */
  /*          */
  /* Fourth Row */
  /*          */
}

.mi-services-container body {
  background-color: #f6f5f7;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}

.mi-services-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.mi-services-container .price-plan {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 30px 30px;
  margin: 2%;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
}

.mi-services-container .fancy {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: -webkit-gradient(linear, left top, right top, from(#f46b45), to(#eea849));
  background: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to right, #f46b45, #eea849);
  /* Chrome 10-25, Safari 5.1-6 */
  background-size: auto 100%;
  background-position-x: 33%;
  color: white;
}

.mi-services-container .price-points {
  list-style-type: none;
  padding: 0px;
}

.mi-services-container .price-points li {
  padding: 10px 0px;
}

.mi-services-container .price-points li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mi-services-container .price {
  font-size: 32px;
  font-weight: 300;
}

.mi-services-container .price sub,
.mi-services-container .price sup {
  font-size: 16px;
  font-weight: 100;
}

.mi-services-container .polyFirst {
  width: 130px;
  padding: 10px 10px;
  border: none;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/79/1557a49d2cf0c66.jpg);
  background-size: 300%;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.mi-services-container .polyFirst:hover {
  background-size: 150%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mi-services-container .polyFirst:active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.mi-services-container .polyFourth {
  width: 150px;
  padding: 10px 18px;
  border: none;
  background-color: white;
  background-size: 300%;
  color: #B85888;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.mi-services-container .polyFourth:hover {
  background-size: 150%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mi-services-container .polyFourth:active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.mi-services-container .poly2 {
  background-position-x: 15%;
}

.mi-services-container .poly3 {
  background-position-x: 45%;
}

.mi-services-container .mi-half-sphere {
  position: absolute;
  bottom: 50px;
  right: 2px;
}

.mi-services-container .mi-half-sphere img {
  max-width: 150px;
  height: 150px;
}

.mi-services-container .mi-full-sphere {
  position: absolute;
  bottom: 80px;
  left: 5px;
}

.mi-services-container .mi-full-sphere img {
  max-width: 120px;
  height: 120px;
}

.mi-services-container .mi-sec-small-sphere {
  position: absolute;
  bottom: 220px;
  left: 40px;
}

.mi-services-container .mi-sec-small-sphere img {
  max-width: 30px;
  height: 25px;
}

.mi-services-container .mi-th-very-small-sphere {
  position: absolute;
  bottom: 100px;
  left: 120px;
}

.mi-services-container .mi-th-very-small-sphere img {
  max-width: 30px;
  height: 20px;
}

.mi-services-container .mi-la-very-small-sphere {
  position: absolute;
  bottom: 50px;
  left: 40px;
}

.mi-services-container .mi-la-very-small-sphere img {
  max-width: 30px;
  height: 18px;
}

.curriculum {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #e74c3c;
  color: white;
  padding: 50px 20px;
}

.curriculum h2 {
  text-align: center;
  padding-bottom: 25px;
}

.curriculum section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid white;
}

.curriculum input {
  display: none;
}

.curriculum label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 1px solid transparent;
}

.curriculum label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.curriculum label[for*='1']:before {
  content: '\f1cb';
}

.curriculum label[for*='2']:before {
  content: '\f17d';
}

.curriculum label[for*='3']:before {
  content: '\f16c';
}

.curriculum label[for*='4']:before {
  content: '\f171';
}

.curriculum label:hover {
  color: #789;
  cursor: pointer;
}

.curriculum input:checked + label {
  color: white;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

.curriculum #tab1:checked ~ #content1,
.curriculum #tab2:checked ~ #content2,
.curriculum #tab3:checked ~ #content3,
.curriculum #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  .curriculum label {
    font-size: 0;
  }
  .curriculum label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .curriculum label {
    padding: 15px;
  }
}

.curriculum #content1 {
  text-align: center;
}

.curriculum .mod-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.curriculum .card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.curriculum .card-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.middle-section {
  padding: 80px 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(15%, #3C4BBD), to(transparent)), radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center/15px 15px, -webkit-gradient(linear, left top, right bottom, from(#3C4BBD), to(#57ADD8));
  background: linear-gradient(to bottom right, #3C4BBD 15%, transparent), radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.2) 10%, transparent 20%) center center/15px 15px, linear-gradient(to bottom right, #3C4BBD, #57ADD8);
}

.middle-section .wrapper {
  position: relative;
  -webkit-perspective: 40em;
          perspective: 40em;
  display: -ms-grid;
  display: grid;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.middle-section .card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  -webkit-transform: translateX(10px) rotateY(25deg) rotateX(10deg);
          transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(249, 198, 26, 0.88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
}

.middle-section h1 {
  font-size: 0.5em;
  font-weight: 900;
}

.middle-section .card .enclosed {
  background: #000;
  line-height: 1;
  color: #f9c61a;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  -webkit-transform: translate(-1px, 1px) scale(0.75);
          transform: translate(-1px, 1px) scale(0.75);
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.middle-section .wrapper:before {
  --bw: 9px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  content: '';
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  -webkit-transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
          transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.middle-section .wrapper:hover > div,
.middle-section .wrapper:hover:before {
  -webkit-transform: none;
          transform: none;
}

.middle-section .wrapper > div,
.middle-section .wrapper:before {
  will-change: transform;
  -webkit-transition: 0.3s -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 1);
  transition: 0.3s -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 1);
  transition: 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 1);
  transition: 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 1), 0.3s -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 1);
}

.mi-contact-section {
  text-align: center;
  padding: 50px 55px;
  color: #575757;
}

.mi-contact-section .mi-contact-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.mi-contact-section .mi-contact-me {
  text-align: left;
  line-height: 20px;
}

.mi-footer-container {
  width: 100%;
  height: 25vh;
  background-color: #C6F232;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-clip-path: polygon(0 36%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 36%, 100% 0%, 100% 100%, 0% 100%);
}

.mi-footer-container .mi-footer-content {
  padding-top: 50px;
}
/*# sourceMappingURL=main.css.map */