$primary-color: #FFEE00;
$secondary-color: #FFEE00;
$dull-shade: #D5CDCD;
$white: #fff;
$main-heading-size: 5em;
$orange: #e74c3c;
$about-back-color: #009AE9;
$primary-font: Montserrat;
$sec-heading-size: 2em;
$grey: #575757;
$highlight: #5bc0eb;
$darkhighlight: #fde74c; 
$mobile: 790px;
$desktop: 1024px;
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@mixin showmobile{
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}
html,body{
    overflow-x: hidden;
}
.mi-main-container{
    background-image: linear-gradient(90deg,rgba(255, 238, 0,0.8), rgba(255, 238, 0,0.8)), url('../assets/images/banner.jpg');
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 78%, 70% 100%, 36% 83%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 78%, 70% 100%, 36% 83%, 0 100%, 0 0);
    .logo{
        img{
            padding: 25px;
            width: 150px;
        }
    }
    // main navigation
    .mi-main-nav{
        position: absolute;
        top: 20px;
        right: 0px;
        @include mobile(){
            display: none;
        }
    }
    .mi-main-nav-list{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        padding-right: 60px;

        li{
            padding: 10px 50px;
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }
    // Mobile nav
   .mi-mob-nav{
        // display: none;
        z-index: 3;
        @include showmobile(){
            display: none;
        }
        .line-container{
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            transition: all ease-in-out 0.5s;
            z-index: 13;
            
            .line{
                width: 25px;
                height: 2px;
                background-color: $white;
                margin: 0 0 5px 0px;
            }
             // rotate in to x
            &.close{
                transform: rotate(180deg);

                .line{
                    transition: all ease-out 0.5s;
                    &:nth-child(1){
                        transform: rotate(45deg) translate(5px, 5px);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg) translate(5px, -5px);
                    }
                }
            }
        }
        .mi-main-mob-nav-list{
            position: fixed;
            top: 0;
            left: 0;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            opacity: 0.8;
            width: 100%;
            height: 0%;
            visibility: hidden;
            // padding: 20px;
            list-style: none;
            transition: height ease-in 1s;
            transition: height ease-in-out 1s;
            z-index: 10;
            &.show{
                height: 100% !important;
                visibility: visible;
            }
            li{
                padding-top: 15px;
            }
            a{
                text-decoration: none;
                color: $white;
            }
        }
   }
}
// main body
.mi-main-body{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 50px;
    @include mobile(){
        padding: 15px;
    }
    @include mobile(){
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    h1{
        padding-top: 25px;
        letter-spacing: 5px;
        line-height: 15px;
        @include mobile(){
            letter-spacing: 1px;
            line-height: auto;
            margin-bottom: 55px;
            font-size: 1.2em;
            text-align: center;
        }
    }
    .catchy{
        text-align: center;
    }
    .form-container{
        background: $white;
        padding: 25px 55px; 
        border-radius: 5px;
        @include mobile(){
            padding: 25px 15px; 
        }
        form{
            padding: 25px 0;
        }
        .form-input{
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 5px;
            background: transparent;
            width: 100%;
            outline: transparent;
            margin: 15px 0 15px 0;
        }
        button{
            margin-left: 50%;
            transform: translateX(-50%);
            padding: 8px 15px;
            border-radius: 25px;
            border: none;
            background-color: #2C559D;
            color: $white;
        }
    }
}
// services
.mi-services-container{
    body {
        background-color: #f6f5f7;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 50px;
    }
    
    .container {
      display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      margin-top:20px;
    }
    
    .price-plan {
      background-color: #ffffff;
        box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
        border-radius: 4px;
        flex: 1;
        padding: 20px 30px 30px;
        margin: 2%;
        min-width: 200px;
        max-width: 300px;
      text-align: center;
    }
    
    .fancy {
      margin-top: 20px;
      margin-bottom:20px;
      transform: scale(1.1);
    //background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/79/1557a49d2cf0c66.jpg);
      background: linear-gradient(to right, #f46b45, #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: -webkit-linear-gradient(to right, #f46b45, #eea849); /* Chrome 10-25, Safari 5.1-6 */
      background-size: auto 100%;
      background-position-x:33%;
      color:white;
    }
    
    .price-points {
      list-style-type:none;
      padding:0px;
    }
    
    .price-points li {
      padding:10px 0px;
    }
    
    .price-points li:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .price {
      font-size:32px;
      font-weight:300;
    }
    
    .price sub,
    .price sup {
      font-size:16px;
      font-weight:100;
    }
    
    /* First Row */
    .polyFirst {
      width: 130px;
      padding: 10px 10px;
      border: none;
      background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/79/1557a49d2cf0c66.jpg);
      background-size: 300%;
      color: rgb(0, 0, 0);
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition-duration: 0.5s;
    }
    
    .polyFirst:hover {
      background-size: 150%;
      transition-duration: 0.3s;
      transform: scale(1.2);
    }
    
    .polyFirst:active {
      transform:scale(1.15);
      transition-duration: 0.1s;
    }
    /*          */
    
    /* Fourth Row */
    .polyFourth {
      width: 150px;
      padding: 10px 18px;
      border: none;
      background-color:white;
      background-size: 300%;
      color: #B85888;
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight:bold;
      cursor: pointer;
      border-radius: 5px;
      transition-duration: 0.5s;
    }
    
    .polyFourth:hover {
      background-size: 150%;
      transition-duration: 0.3s;
      transform: scale(1.2);
    }
    
    .polyFourth:active {
      transform:scale(1.15);
      transition-duration: 0.1s;
    }
    
    /*          */
    
    .poly2 {
      background-position-x: 15%;
    }
    
    .poly3 {
      background-position-x: 45%;
    }

    .mi-half-sphere{
        position: absolute;
        bottom: 50px;
        right: 2px;
        img{
            max-width: 150px;
            height: 150px;
        }
    }
    .mi-full-sphere{
        position: absolute;
        bottom: 80px;
        left: 5px;
        img{
            max-width: 120px;
            height: 120px;
        }
    }
    .mi-sec-small-sphere{
        position: absolute;
        bottom: 220px;
        left: 40px;
        img{
            max-width: 30px;
            height: 25px;
        }
    }
    .mi-th-very-small-sphere{
        position: absolute;
        bottom: 100px;
        left: 120px;
        img{
            max-width: 30px;
            height: 20px;
        }
    }
    .mi-la-very-small-sphere{
        position: absolute;
        bottom: 50px;
        left: 40px;
        img{
            max-width: 30px;
            height: 18px;
        }
    }
}
// Curriculum section
.curriculum{
    margin-top: 50px;
    margin-bottom: 50px;
    background: $orange;
    color: white;
    padding: 50px 20px;
    h2{
        text-align: center;
        padding-bottom: 25px;
    }
    section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid rgb(255, 255, 255);
    }

    input {
    display: none;
    }

    label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    }

    label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    }

    label[for*='1']:before { content: '\f1cb'; }
    label[for*='2']:before { content: '\f17d'; }
    label[for*='3']:before { content: '\f16c'; }
    label[for*='4']:before { content: '\f171'; }

    label:hover {
    color: #789;
    cursor: pointer;
    }

    input:checked + label {
    color: rgb(255, 255, 255);
    border: 1px solid #abc;
    border-top: 2px solid #0af;
    border-bottom: 1px solid #fff;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4 {
    display: block;
    }

    @media screen and (max-width: 800px) {
        label {
            font-size: 0;
        }
        label:before {
            margin: 0;
            font-size: 18px;
        }
    }

        @media screen and (max-width: 500px) {
        label {
            padding: 15px;
        }
    }
}
.middle-section{
    padding: 80px 0;
    display: grid;
    place-items: center;
    background:
        linear-gradient(to bottom right, #3C4BBD 15%, transparent),
        radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
        linear-gradient(to bottom right, #3C4BBD, #57ADD8);
    .wrapper {
        position: relative;
        perspective: 40em;
        display: grid;
        transform-style: preserve-3d;
      }
      
      .card {
        grid-area: 1 / 1;
        height: 200px;
        width: 400px;
        transform: translateX(10px) rotateY(25deg) rotateX(10deg);
        background: rgba(249, 198, 26, 0.88);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;
        color: #000;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 900;
        backface-visibility: hidden;
        box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
      }
      
      h1 {
        font-size: 0.5em;
        font-weight: 900;
      }
      
      .card .enclosed {
        background: #000;
        line-height: 1;
        color: rgba(249, 198, 26, 1);
        padding: 5px 5px;
        text-align: center;
        display: inline-block;
        transform: translate(-1px, 1px) scale(0.75);
        transform-origin: right center;
      }
      
      .wrapper:before {
        --bw: 9px;
        grid-area: 1 / 1;
        content: '';
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
        margin-top: calc(-1 * var(--bw));
        margin-left: calc(-1 * var(--bw));
        background: transparent;
        transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
        pointer-events: none;
        border: var(--bw) solid #000;
        box-sizing: content-box;
      }
      
      
      .wrapper:hover > div,
      .wrapper:hover:before {
        transform: none;
      }
      
      
      .wrapper > div,
      .wrapper:before {
        will-change: transform;
        transition: .3s transform cubic-bezier(.25,.46,.45,1);
      }
}
// contact section
.mi-contact-section{
    text-align: center;
    padding:50px 55px;
    color: $grey;
    .mi-contact-methods{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 50px;
    }
    .mi-contact-me {
        text-align: left;
        line-height: 20px;

        // .contact-me-sub-head{
        //     padding-bottom: 15px;
        // }
    }
}
// footer
.mi-footer-container{
    width: 100%;
    height: 25vh;
    background-color: #C6F232;
    color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-clip-path: polygon(0 36%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 36%, 100% 0%, 100% 100%, 0% 100%);
    .mi-footer-content{
        padding-top: 50px;
    }
}